
\.DS_Store

c\+\+ applications/HelloJNA/\.idea/

*.o

*.dylib

c\+\+ applications/HelloJNA/cmake-build-debug/MainTest

c\+\+ applications/simpleDLL/\.idea/

Multivesta meets c\+\+/\.idea/

*.iml

*.class
