
\.DS_Store

c\+\+ applications/HelloJNA/\.idea/

*.o

*.dylib

c\+\+ applications/HelloJNA/cmake-build-debug/MainTest

c\+\+ applications/simpleDLL/\.idea/

Multivesta meets c\+\+/\.idea/

*.iml

*.class

c\+\+ applications/Simulator/\.idea/

c\+\+ applications/Simulator/cmake-build-debug/CMakeFiles/Progress/

*.xlsx

c\+\+ applications/BankSimulator/\.idea/

*.bin

*.out

c\+\+ applications/FinanceSimulator/\.idea/

c\+\+ applications/InventoryManagementSimulator/\.idea/

c\+\+ applications/JNALink/\.idea/

Multivesta meets c\+\+/MultiVeStA_OUTPUT/

c\+\+ applications/BankSimulator/cmake-build-debug/BankSimulatorTest

c\+\+ applications/InventoryManagementSimulator/cmake-build-debug/ManagementSimulatorTest

libspsim\.zip

libspsim/

*.log

c\+\+ applications/Spike/\.idea/

argos3-master\.zip
argos3/*
